* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.comment {
    width: 98%;
    margin: auto;
    margin-top: 2px !important;
    margin-bottom: 2px !important;
    display: flex;
    flex-direction: column;
    padding-bottom: 6px;

    background-color: var(--color-white);
    border-radius: 4px;
    border-top: 4px solid var(--color-primary);
    box-shadow: rgba(0, 0, 0, 0.24) 1px 1px 1px 1px;
    .row-1 {
        width: 100%;
        display: flex;
        margin: 0;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;

        .col-1 {
            flex: 6;
        }

        .col-2 {
            flex: 4;
        }
    }

    .row-2 {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }

    .row-3 {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
    .row-1:after {
        content: "";
        width: 100%;
        margin: 10px 10px 4px;
        align-items: center;
        display: inline-block;
        border-radius: 40px;
        border-bottom: 2px solid var(--color-primary);
        opacity: 50%;
    }
    .label {
        color: var(--color-primary);
        padding-right: 10px;
        font-size: 20px;
    }
    .text-area-container {
        width: 100%;
        padding: 0 10px;
        .text-area {
            width: 100%;
            padding: 8px;
            height: 100px;
            border-radius: 6px;
            border: 1px solid #ccc;
        }
        .text-area:hover {
            border: 1px solid var(--color-primary);
        }
    }
    .profile__editbtn {
        font-size: 18px !important;
        float: right;
        padding: 4px;
        margin-top: 2px !important;
        margin-bottom: 6px !important;
        width: 70px !important;
        border-radius: 30px;
        border: 1px solid var(--color-muted);
        background-color: var(--color-primary);
        color: var(--color-white);
    }
    .username {
        font-weight: 500;
    }
}
