* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.list-comment {
    overflow: scroll;
    height: 510px;

    width: 96%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;

    background-color: var(--color-white);
    border-radius: 4px;
    border-top: 4px solid var(--color-primary);
    box-shadow: rgba(0, 0, 0, 0.24) 2px 2px 2px 2px;

    .comment {
        margin-top: 4px;
    }
}
