.garage-table {
    margin-top: 60px;
    margin-left: 200px;
    .list-group {
        padding-right: 0;
    }
    .container-fluid {
        // padding: 0;
        // padding-bottom: 60px;
    }
    .tb-title {
        font-size: 16px;
        color: var(--color-primary);
        font-weight: bold;
    }
    .tb-content {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
    .tb-content::-webkit-scrollbar {
        display: none;
    }
    .list-group {
        height: calc(100vh - 274px);
    }
    .row {
        padding: 0 auto;
    }
    .heading {
        text-align: center;
    }
    .list-group-item {
        padding: 0;
    }
    .pagination {
        display: flex;
        justify-content: center;
    }
    .search-box {
        width: 90%;
        padding: 8px 0;
        padding-left: 16%;
    }
    .action-icon {
        font-size: 20px;
        margin-left: 20px;
    }
    .tb-content--name {
        font-weight: bold;
    }
}
@media only screen and (max-width: 768px) {
    .garage-table {
        margin-top: 60px;
        margin-left: 80px;
    }
}
