* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.profile-edit {
  span {
    width: 160px;
  }
  margin: auto;
  margin-top: 160px;
  // width: 1020px;
  .profile-changeinfo {
    //
    width: 500px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 2px 2px 2px 2px;
    padding: 20px;
  }
  .profile-changepwd {
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 2px 2px 2px 2px;
    width: 500px;
    padding: 20px;
  }

  form input {
    height: 40px;
    width: 300px;
    font-size: 14px;
    padding-left: 18px;
    border-radius: 15px;
    outline: none;
    border: 1px solid rgb(225, 225, 225);
  }
}

.flex-row {
  display: flex;
  // justify-content: space-around;
  flex-direction: row;
  // justify-content: space-between;
  margin-top: 10px;
  .label {
    color: var(--color-primary);
    font-weight: 600;
  }
}

// .main-flex {
//     display: flex;
//     flex-wrap: wrap;
//     flex-direction: row;
//     justify-content: space-between;
// }

.btn-container {
  width: 100%;

  .profile__editbtn {
    float: right;
    padding: 4px;
    margin-top: 8px;
    width: 80px;
    border-radius: 15px;
    border: 1px solid var(--color-muted);
    background-color: var(--color-primary);
    color: var(--color-white);
  }

  .profile__cancelbtn {
    float: right;
    padding: 4px;
    margin-top: 8px;
    margin-right: 13%;
    align-content: center;
    width: 80px;
    border-radius: 15px;
    border: 1px solid var(--color-muted);
    background-color: var(--color-primary);
    color: var(--color-white);
  }
}
