* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-page {
    padding-top: 70px;
    // height: calc(100vh) !important;

    .garage-side {
        overflow: scroll;
        height: calc(100vh - 110px) !important;
        .search-box {
            width: 80%;
            margin: auto;
        }
        // background-color: #ccc;
        .list-garage {
            height: calc(100vh - 210px);
        }
        .pagination {
            display: flex;
            justify-content: center;
        }
        .form-group {
            display: flex;
            justify-content: space-around;
            .custom-select {
                display: block;
                width: 100%;
                padding: 0.375rem 0.75rem;
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.5;
                color: #212529;
                background-color: #fff;
                background-clip: padding-box;
                border: 1px solid #ced4da;
                border-radius: 0.25rem;
                transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            }
            .custom-select:focus {
                color: #212529;
                background-color: #fff;
                border-color: #86b7fe;
                outline: 0;
                box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
            }
        }
        .list-group-item {
            padding: 1px;
            .card-body {
                padding: 7px;
            }
        }
        // .list-garage {
        //     .rating {
        //         margin-left: 30px;
        //     }
        // }
    }
    .map-side {
        background-color: #fff;
        // height: ;
        padding-bottom: 14px;
        height: calc(100vh - 110px) !important;
    }
    .marker {
        z-index: 100;
        .marker-name {
            // color: #b22222;
            color: #fff;
            font-weight: 600;

            font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
            font-size: 16px;
            margin-top: 18px;
            font-style: normal;
            white-space: nowrap;
        }
    }
    .curr-garage:hover {
        background-color: #b4f4ff;
        border: 1px solid #b6f4ff;
    }
    .card-text {
        overflow: hidden;

        height: 20px;
    }
    .big-marker {
        z-index: 100 !important;
    }
    .marker-you {
        // color: #b22222;
        color: #fff;
        font-weight: 600;

        font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
        font-size: 16px;
        margin-top: 18px;
        font-style: normal;
        white-space: nowrap;
    }
    .your-marker {
        z-index: 1000;
    }
}

@media only screen and (max-width: 768px) {
    .garage-side {
        padding-bottom: 60px;
    }
}
