.main__auth {
  background-color: #f7f8f9;
  position: relative;
  height: 87.2vh !important;
}

button {
  cursor: pointer;
}
.register {
  background-color: var(--color-white);
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  padding: 20px;
  width: 35%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .register {
    background-color: var(--color-white);
    margin: auto;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    border-radius: 10px;
    padding: 20px;
    width: 60%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    box-sizing: border-box;
  }
}

@media (max-width: 768px) {
  .register {
    background-color: var(--color-white);
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    box-sizing: border-box;
  }
}

/*Iphone(480 x 640)*/
@media screen and (max-width: 480px) {
  .register {
    background-color: var(--color-white);
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    box-sizing: border-box;
  }
  .register__social {
    display: flex;
    flex-direction: column;
  }

  .register__social--facebook {
    margin-bottom: 5px;
  }
}
/*Smart phone nhỏ*/
@media screen and (max-width: 240px) {
}

.register h3 {
  text-align: center;
  padding-bottom: 20px;
  font-size: 28px;
}

.register form {
  display: flex;
  flex-direction: column;
}

.register form input {
  height: 40px;
  font-size: 14px;
  padding-left: 18px;
  border-radius: 15px;
  outline: none;
  border: 1px solid rgb(225, 225, 225);
  margin-bottom: 20px;
}

/* .register form a {
  margin-top: 10px;
  width: fit-content;
  text-decoration: none;
  color: inherit;
} */

.forgotpass__link {
  text-align: center;
  margin-top: 20px;
  color: var(--color-primary);
  text-align: center;
}

.register form button {
  padding: 6px 8px;
  border-radius: 15px;
  border: 1px solid var(--color-muted);
  background-color: var(--color-primary);
  color: var(--color-white);
}

.register__link {
  color: var(--color-primary);
  margin-top: 20px;
  text-align: center;
}

a {
  text-decoration: none !important;
}
