.garage-profile {
    .upload-img .img-container {
        max-width: 960px;
        margin: 10px auto;
        padding: 20px;
    }

    .upload-img h1 {
        font-size: 20px;
        text-align: center;
        margin: 10px 0 10px;
        small {
            display: block;
            font-size: 15px;
            padding-top: 8px;
            color: gray;
        }
    }

    .upload-img .avatar-upload {
        position: relative;
        max-width: 205px;
        margin: 10px auto;
        .avatar-edit {
            position: absolute;
            right: 12px;
            z-index: 1;
            top: 10px;
            input {
                display: none;
                + label {
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    margin-bottom: 0;
                    border-radius: 100%;
                    background: #ffffff;
                    border: 1px solid transparent;
                    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                    cursor: pointer;
                    font-weight: normal;
                    transition: all 0.2s ease-in-out;
                    &:hover {
                        background: #f1f1f1;
                        border-color: #d6d6d6;
                    }
                }
            }
        }
        .avatar-preview {
            width: 200px;
            height: 200px;
            position: relative;
            border-radius: 8px;
            box-shadow: 2px 4px 6px 2px rgba(0, 0, 0, 0.1);
            .profile_img {
                width: 200px;
                height: 200px;
                border-radius: 8px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }
}
