* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.garage {
    span {
        width: 220px;
    }
    h3 {
        width: 300px;
    }

    margin: auto;
    margin-top: 160px;
    width: 1020px;
    .garage-profile {
        .profile_img {
            width: 150px;
            height: 150px;
            border-radius: 8px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            transform: translate(-40px, -40px);
            box-shadow: rgba(0, 0, 0, 0.24) 2px 2px 2px 2px;
        }

        //
        width: 500px;
        border-radius: 8px;
        box-shadow: rgba(0, 0, 0, 0.24) 2px 2px 2px 2px;
        padding: 40px;
    }
    .garage-service {
        border-radius: 8px;
        box-shadow: rgba(0, 0, 0, 0.24) 2px 2px 2px 2px;

        width: 500px;
        padding: 40px;

        .service-list {
            margin-top: 100px;
            .service-name {
                width: 420px !important;
            }
        }
    }
    .garage__title {
    }
}

.flex-row {
    display: flex;
    // justify-content: space-around;
    flex-direction: row;
    // justify-content: space-between;
    margin-top: 10px;
    .label {
        color: var(--color-primary);
        font-weight: 600;
    }
}

.main-flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.btn-container {
    width: 100%;

    .profile__editbtn {
        float: right;
        padding: 4px;
        margin-top: 8px;
        width: 80px;
        border-radius: 15px;
        border: 1px solid var(--color-muted);
        background-color: var(--color-primary);
        color: var(--color-white);
        transform: translateX(-10px);
    }
}
